/*
/*/

!/bootloader/Makefile
!/bootloader/src

!/kernel/Makefile
!/kernel/src

!/libc/Makefile
!/libc/include
!/libc/src

!/.gitignore
!/Makefile
!/linker.ld

!/compile.sh
!/compile.bat

!/debug-gdb.sh
!/debug-qemu.sh

!/run-qemu.sh
!/run-qemu.bat

!/make-isodir.sh